.board{
    display:flex;
    flex-direction: column;
    width:50%;

}

.line{
    display: flex;
    flex-direction:row;

}

.Box{
    border:1px solid #eeeeee;
    flex: 1;
    font-size: 22px;
    
}